<div class="py-4 mb-2">
  <h3 class="d-inline-block">Fields</h3>
</div>

<div class="capcontainer">

    <%= for (field) in fields { %>
        <table class="bingofield">
            <tbody>
                <%= for (row) in field.Rows() { %>
                    <tr>
                        <%= for (cell) in row { %>
                            <td count="<%= counts[cell]%>">
                                    <%= cell %>
                            </td>
                        <% } %>
                      </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
