<div class="py-4 mb-2">
  <h3 class="d-inline-block">Fields</h3>
  <div class="float-right">

  </div>
</div>

<div class="capcontainer">
    <%= for (field) in fields { %>
        <table class=" table-bordered bingofield">
            <%= for (row) in field.Rows() { %>
                <tr>
                    <%= for (cell) in row { %>
                        <td>
                            <div count="<%= counts[cell]%>">
                                <%= cell %>
                            </div>
                        </td>
                    <% } %>
                  </tr>
            <% } %>
        </table>
    <% } %>
</div>