<div class="py-4 mb-2">
  <h3 class="d-inline-block">Field Details</h3>

  <div class="float-right">
    <%= linkTo(fieldsPath(), {class: "btn btn-info"}) { %>
      Back to all Fields
    <% } %>
    <%= linkTo(editFieldPath({ field_id: field.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(fieldPath({ field_id: field.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
