.container {
  min-width: 320px;
}

.titles {
  h1 {
    font-size: 30px;
    font-weight: 300;
    color: white;
  }

  h2 {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    margin: 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  i {
    margin-right: 5px;
    text-decoration: none;
  }

  .documentation {
    margin-left: 28px;
  }
}


.centered {
  text-align: center;
}