
.bingofield {
    td div {
        width: 5em;
        height: 5em;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    margin: 2em;
}