

.bingofield {
    tr {
        display: flex;
    }
    td {
        height: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    position: relative;
    display: block;

    padding: auto;

    $with-l: 50%;
    $width-s: 100%;
    width: $with-l;
    padding-top: $with-l;
    height: 0;

    @media all and (max-width: 770px) {
        width: $width-s;
        padding-top: $width-s;
    }

    &>tbody {
        position: absolute;
        border: solid .5em transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 10px;
        flex-direction: column;

        &>tr{
            width: 100%;
            display: block;
            height: 20%;
            display: flex;
            flex-direction: row;
            &>td {
                height:100%;
                width: 100%;
                border-color: black;
                border-width: 1px;
                border-style: solid;
            }
        }
    }

    margin: 0;


    &>* {

       //box-sizing: border-box;
       /** relative so that our ::before absolute block can position itself according to it's parent block **/
       //position: relative;
    }
}