@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "buffalo";

$sterni_red: #FF0000;
$hover_color: #FF4444;
$menu_color: #FF6666;

@mixin disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}

.centercontainer {
    min-height: 100vh;
    vertical-align: center;
}

.auth-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sign-form{
        max-width: 350px;
        width: 100%;
        padding: 0 20px;
      }

    * {margin-bottom: .25em;}
}

.alert {
    @keyframes fadeIn {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
        0% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    animation: .1s ease-out 0s 1 fadeIn;

    &.fadeout {
        animation: 1s ease-in 0s 1 fadeOut;
        animation-fill-mode: forwards
    }
    margin: .5rem;
    z-index: 1000;
}

html {
    min-height: 100vh;
    position: relative;
}
body {
    min-height:100vh
}

#content {
    //height: 1000px;
    margin-bottom: 2em;
}

.hline {
    width: 100%;
    height: 1px;
    margin: .5em 0;
    background-color: #ced4da;
    //box-shadow: 0px 1px 1px 0px rgba(206,212,218,1);
}

footer {
    min-height: 2em;
    background-color: $sterni_red;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;

}

@import "header";
@import "caps";
@import "fields";